body {
    background-image: url("/images/darkgraphity.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro{
    color:white;
    display:flex;
    justify-content: center;
}

#game-div {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 500px;
}

#canvas {
    background-color: rgba(111, 123, 161, 0.95);
}

