body {
    display: flex;
    justify-content: center;
    background-image: url("/images/darkgraphity.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#canvas {
    background-color: rgba(111, 123, 161, 0.95);
}

