body {
    background-image: url("/images/street\ lights.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro{
    color:white;
    display:flex;
    justify-content: center;
    text-align: center;
}

h2{
    padding: 10px;
    font-family: monospace;
}

#game-div {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 500px;
}

#canvas {
    background-color: rgba(107, 118, 155, 0.9);
    
}

